darkdevilbot/config.py
darkdevilbot/*.session
darkdevilbot/*.session-journal
darkdevilbot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
darkdevilbot/modules/helper_funcs/temp.txt
darkdevilbot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
darkdevilbot.session-journal
updates.txt
*.exe